De nombreuses sources sont compatibles  : CSV, JSON, Parquet, SQL, Excel, BigQuery, ...

De manière générale on a le choix entrte lire avec read_nom ou écrire avec to_nom
Exemple read_csv et to_csv

In [6]:
import pandas as pd

In [7]:
pwd

'/home/hugo/DataSciencePlayground/PYTHON_TIME_SERIES_JO/2_pandas'

In [10]:
df = pd.read_csv('example.csv')

In [11]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
new_df = df[["a", "b"]]
new_df

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [14]:
new_df.to_csv('created.csv', index=False)